@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f8f8ff;
  --secondary: #44362f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  transition: opacity 0.1s ease; /* Smooth transition */
}

button:active {
  opacity: 0.6; /* Lower opacity on click */
}
